
.upvote-button, .downvote-button{
	margin: 8px 5px 0px 5px ;
	width: 27px;
}

.comment-arrows{
	float: right;
}

.comment-body {
	float: left;
	width: -moz-calc(100% - 37px);
    width: -webkit-calc(100% - 37px);
    width: calc(100% - 37px);
}

.round-border-4{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}

.comment {
	margin: 8px 0px;
	background-color: #333333;
	margin-right: 5px;
}

.comment_text {
	padding: 2%;
	background-color: #444444;
	margin: 0px 5px 5px 5px;
}


.comment_head {
	padding: 2%;
}



#comment-textfield {
	margin: 5px;
	
	width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
	max-width: -moz-calc(100% - 24px);
    max-width: -webkit-calc(100% - 24px);
    max-width: calc(100% - 24px);
	min-width: -moz-calc(100% - 24px);
    min-width: -webkit-calc(100% - 24px);
    min-width: calc(100% - 24px);

}
